{% extends 'baseHome.html' %}{% block corpo %}{% load static %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h3>Registar nova informação</h3></div>
      <div class="card-body">
        <form class="forms-sample">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputName1">Titulo</label>
                {{ form.titulo }} {{ form.titulo.errors }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleSelectGender">Categoria</label>
                {{ form.categoria }} {{ form.categoria.errors }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Tipo da informação</label>
                {{ form.tipo }} {{ form.tipo.errors }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleSelectGender">Estado da informação</label>
                {{ form.estado }} {{ form.estado.errors }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Data de Entrada</label>
                {{ form.dataPublicacao }} {{ form.dataPublicacao.errors }}
              </div>
            </div>
            <div class="col-md-6 hidden">
              <div class="form-group">{{ form.slug }} {{ form.slug.errors }}</div>
            </div>
          </div>

          <div class="form-group">
            <label>File upload</label>
            <input type="file" name="img[]" class="file-upload-default" />
            <div class="input-group col-xs-12">
              <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image" />
              <span class="input-group-append">
                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleTextarea1">Textarea</label>
            <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
