{% extends 'baseHome.html' %}{% block corpo %}{% load static %}

<div class="row">
  <div class="col-md-12">
    {% if messages %}
    <script language="JavaScript">
      $(function () {
        $("#exampleModalCenter").modal("show");
      });
    </script>

    {% endif %}
    <div class="card">
        {% if pk %}
        <div class="card-header"><h3>Atualizar a Informação</h3></div>
      <div class="card-body">
        <form class="forms-sample" action="{% url 'bug:update-bug' pk %}" method="POST" enctype="multipart/form-data">
        {% else %}
        <div class="card-header"><h3>Registar nova informação</h3></div>
         <div class="card-body">
          <form class="forms-sample" action="{% url 'bug:add-bug' %}" method="POST" enctype="multipart/form-data">
        {% endif %}
          {% csrf_token %} {% autoescape on %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputName1">Titulo</label>
                {{ form.titulo }} {{ form.titulo.errors }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleSelectGender">Categoria</label>
                {{ form.categoria }} {{ form.categoria.errors }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Tipo da informação</label>
                {{ form.tipo }} {{ form.tipo.errors }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleSelectGender">Estado da informação</label>
                {{ form.estado }} {{ form.estado.errors }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Data de Entrada</label>
                {{ form.dataPublicacao }} {{ form.dataPublicacao.errors }}
              </div>
            </div>
            <div class="col-md-6 hidden">
              <div class="form-group">{{ form.slug }} {{ form.slug.errors }} {{ form2.slug }} {{ form2.slug.errors }} {{ form2.bug_id }} {{ form2.bug_id.errors }}</div>
            </div>
          </div>

          <div class="form-group">
            <label>Arquivos( Selecona quantidade que deseja)</label>
            {{ form2.arquivo }} {{ form2.arquivo.errors }}

            <div class="input-group col-xs-12">
              <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image" />
              <span class="input-group-append">
                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header"><h3>Descrição da informação</h3></div>
                  <div class="card-body">{{ form.descricao }} {{ form.descricao.errors }}</div>
                </div>
              </div>
            </div>
          </div>
          {% endautoescape %}
          <button type="submit" class="btn btn-primary mr-2">SALVAR</button>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      {% for message in messages %} {% if message.tags == 'warning' %}
      <div class="modal-header widget bg-danger">
        {% else %}
        <div class="modal-header widget bg-success">
          {% endif %}
          <h5 class="modal-title" id="exampleModalCenterLabel">Notificação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body"><strong>{{ message }}</strong> <br /></div>
        {% endfor %}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
