{% extends 'baseHome.html' %}{% block corpo %}{% load static %}
<div class="card">
  <div class="card-header">
    <h3 class="d-block w-100">{{ lista.titulo|capfirst }}<small class="float-right">Date: {{ lista.dataPublicacao }}</small></h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Estado</th>
              <th>Categoria</th>
              <th>Tipo</th>
              <th>Autor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{lista.estado}}</td>
              <td>{{lista.categoria}}</td>
              <td>{{lista.tipo}}</td>
              <td>{{lista.autor}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <p class="lead">Descrição / Informação:</p>
        <div class="alert alert-secondary mt-10">{{ lista.descricao|safe|capfirst|escape }}</div>
      </div>
    </div>

    <p class="lead">Dados do Arquivo</p>
    <div class="row">
      <!-- PARA VISUALIZAR IMAGEM -->
      {% if imagem %} {% for dados in arquivo %}

      <div class="col-sm-6 col-md-4 col-xs-4">
        <div class="table-responsive">
          <img src="{{ dados.arquivo.url }}" alt="AOBug" class="img-fluid rounded" />
        </div>
      </div>
      <!-- PARA VISUALIZAR PDF -->
      {% endfor %} {% else %} {% for dados in arquivo %}

      <div class="col-sm-6 col-md-6 col-xs-4">
        <div class="table-responsive">
          <embed src="{{ dados.arquivo.url }}" width="500px" height="700" />
        </div>
      </div>
      {% endfor %} {% endif %}
    </div>
    <div class="row no-print mt-25">
      <div class="col-12">
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px"><i class="fa fa-download"></i> Generate PDF</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
