{% extends 'baseHome.html' %}{% block corpo %}{% load static %}
<div class="row">
  {% for dados in lista %}
  <div class="col-sm-12-4 col-md-4 col-xs-4">
    <div class="progress progress-sm">
      <div class="progress-bar bg-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <img src="{% static 'img/img6.jpg' %}" class="img-fluid" />
          <h4 class="card-title mt-5">{{ dados.titulo }}</h4>
        </div>
        <p class="text-black">
          Homemade Cheesecake with Fresh Berries and Mint Homemade Cheesecake with Fresh Berries and Mint Homemade Cheesecake with Fresh Berries and Mint Front End Developer
        </p>
        <div class="row">
          <div class="input-group input-group-dropdown">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Opções <i class="ik ik-chevron-down"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#!">Editar</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#!">Visualizar</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#!">Desativar</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item btn btn-danger text-black-50" href="#!">Eliminar</a>
              </div>
            </div>
            <div class="m-2">
              <a href="javascript:void(0)" class=""> <b>Categoria: </b>{{ dados.categoria }} </a>
            </div>
          </div>
        </div>
        <footer>
          <div class="list-actions mt-5">
            <div class="like-comm text-center">
              <a href="javascript:void(0)" class="link mr-10 text-muted font-weight-light">09.04.2018</a>
              <a href="javascript:void(0)" class="link mr-10">2 comment</a>
              <a href="javascript:void(0)" class="link mr-10"><i class="fa fa-eye text-danger"></i> 5</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
