{% extends 'baseHome.html' %}{% block corpo %}{% load static %}
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <img src="{% static 'img/user.png' %}" class="" width="200" />
          <h4 class="card-title mt-10">John Doe</h4>
          <p class="text-black">
            Homemade Cheesecake with Fresh Berries and Mint Homemade Cheesecake with Fresh Berries and Mint Homemade Cheesecake with Fresh Berries and Mint Front End Developer
          </p>
          <div class="row text-center justify-content-md-center"></div>
        </div>
        <footer>
          <p class="text-muted text-small mb-0 font-weight-light">09.04.2018</p>

          <div class="list-actions">
            <a href="#editLayoutItem" data-toggle="modal" data-target="#editLayoutItem"><i class="ik ik-eye"></i></a>
            <a href="layout-edit-item.html"><i class="ik ik-edit-2"></i></a>
            <a href="#" class="list-delete"><i class="ik ik-trash-2"></i></a>
          </div>
        </footer>
      </div>
    </div>
  </div>
  <div class="col-md-12 mb-4 pl-0 pr-0">
    <div class="owl-container">
      <div class="basic">
        <div class="card flex-row col-md-4">
          <div class="position-relative">
            <img class="card-img-left" src="{% static 'img/user.png' %}" alt="Card image cap" />
            <div class="">
              <div class="card-body">
                <h6 class="mb-4">Homemade Cheesecake with Fresh Berries and Mint</h6>

                <footer>
                  <p class="text-muted text-small mb-0 font-weight-light">09.04.2018</p>
                </footer>
              </div>
            </div>
          </div>
        </div>

        <div class="card flex-row">
          <div class="w-50 position-relative">
            <img class="card-img-left" src="{% static 'img/user.png' %}" alt="Card image cap" />
            <span class="badge badge-pill badge-primary position-absolute badge-top-left">New</span>
          </div>
          <div class="w-50">
            <div class="card-body">
              <h6 class="mb-4">Wedding Cake with Flowers Macarons and Blueberries</h6>
              <footer>
                <p class="text-muted text-small mb-0 font-weight-light">09.04.2018</p>
              </footer>
            </div>
          </div>
        </div>

        <div class="card flex-row">
          <div class="w-50 position-relative">
            <img class="card-img-left" src="{% static 'img/user.png' %}" alt="Card image cap" />
            <span class="badge badge-pill badge-primary position-absolute badge-top-left">New</span>
          </div>
          <div class="w-50">
            <div class="card-body">
              <h6 class="mb-4">Cheesecake with Chocolate Cookies and Cream Biscuits</h6>

              <footer>
                <p class="text-muted text-small mb-0 font-weight-light">09.04.2018</p>
                <div class="list-actions">
                  <a href="#editLayoutItem" data-toggle="modal" data-target="#editLayoutItem"><i class="ik ik-eye"></i></a>
                  <a href="layout-edit-item.html"><i class="ik ik-edit-2"></i></a>
                  <a href="#" class="list-delete"><i class="ik ik-trash-2"></i></a>
                </div>
              </footer>
            </div>
          </div>
        </div>

        <div class="card flex-row">
          <div class="w-50 position-relative">
            <img class="card-img-left" src="../../img/portfolio-5.jpg" alt="Card image cap" />
            <span class="badge badge-pill badge-primary position-absolute badge-top-left">New</span>
          </div>
          <div class="w-50">
            <div class="card-body">
              <h6 class="mb-4">Homemade Cheesecake with Fresh Berries and Mint</h6>

              <footer>
                <p class="text-muted text-small mb-0 font-weight-light">09.04.2018</p>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
