{% extends 'base.html' %}{% block layouts %}{% load static %}
<header class="py-5 bg-light border-0 mb-4">
  <div class="container">
    <div class="my-5">
      <h1 class="fw-bolder">Contate-nos!</h1>
      <p class="lead mb-0">Leia com atenção qual a melhor forma de entrar em contato!</p>
    </div>
  </div>
</header>
<div class="card mb-4 border-0">
  <div class="card-body">
    <h3 class="card-title">Dúvidas, sugestões !</h3>
    <ul class="list-group">
      <li class="list-group-item border-0">Gostaria de entrar em contato conosco?</li>
      <li class="list-group-item border-0">Tem dicas de notícias ou mais informações sobre um tópico?</li>
      <li class="list-group-item border-0">
        Está tendo algum problema com o site ou gostaria de compartilhar seus comentários ou sugestões?
        <p>Excelente!</p>
      </li>
      <li class="list-group-item border-0">Gostaria de entrar em contato conosco?</li>
      <li class="list-group-item border-0">Queres fazer parte da nossa equipe?</li>
      <li class="list-group-item border-0">Todas as perguntas podem enviar para — <b>sofil.web7@gmail.com</b></li>
    </ul>
  </div>
</div>

<div class="card mb-4 border-0">
  <div class="card-body">
    <h3 class="card-title">Vulnerabilidades de segurança</h3>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item border-0">
        Caso você descubra ou encontre alguma falha, brecha ou vulnerabilidade de segurança do serviço e encontre informações sensíveis (por exemplo, dados privados de outros
        usuários, dados sensíveis do sistema ou acesso não autorizado), pedimos que entre em contato através do email <b>sofil.web7@gmail.com</b>
      </li>
    </ol>
  </div>
</div>

{% endblock %}
