{% extends 'base.html' %}{% block layouts %}{% load static %}
<div class="list-group list-group-flush m-5">
  {% for dados in lista %}
  <a href="#" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex justify-content-between">
      <h5 class="mb-1">{{ dados.titulo|title }}</h5>
      <small>{{ dados.dataPublicacao }}</small>
    </div>
    <p class="mb-1">.{{ dados.descricao|striptags|truncatewords:33 }}</p>
    <small>Categoria: <b>{{ dados.categoria }}</b></small>
  </a>
  {% endfor %}
</div>
{% endblock %}
