{% extends 'base.html' %}{% block layouts %}{% load static %}
<header class="py-5 bg-light border-0 mb-4">
  <div class="container">
    <div class="my-5">
      <h1 class="fw-bolder">Ideias e soluções para proteger a sua empresa</h1>
      <p class="lead mb-0">Partilha a sua solução arquitetonica de um problema e seja remonerado!</p>
    </div>
  </div>
</header>

<div class="card m-4 w-100% border-0">
  <!--<a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>-->
  <div class="card-body">
    <h3 class="card-title">Tentando construir um pedaço de Solução para Angola</h3>
    <p class="card-text">
      Tudo está com um ruído tão grande, é tanta falhas e oferta em aplicações de serviços em Angola, predadores prontos para atacar – e a gente ali, no meio dessa confusão toda,
      tentando extrair algum valor para divulgar falhas, soluções e boas praticas de segurança.
    </p>
  </div>
</div>
<ion-icon name="share-social-outline"></ion-icon>
<div class="row row-cols-1 row-cols-md-3 g-4 p-4"></div>

{% endblock %}
