{% extends 'base.html' %}{% block layouts %}{% load static %}
<header class="py-5 bg-light border-0 mb-4">
  <div class="container">
    <div class="my-5">
      <h1 class="fw-bolder">Ideias e soluções para proteger a sua empresa!</h1>
      <p class="lead mb-0">Partilha a sua solução arquitetonica de um problema e seja remonerado!</p>
    </div>
  </div>
</header>

{% for dados in lista %}
<div class="list-group list-group-flush m-2">
  <a href="{% url 'index:detail' dados.slug %}" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex justify-content-between">
      <h5 class="">{{ forloop.counter }}. {{ dados.titulo|title }}</h5>
      <small>{{ dados.dataPublicacao }}</small>
    </div>
    <!--
    <p class="mb-1">{{ dados.descricao|safe|truncatewords_html:19}}</p>
    -->
    <small>Categoria: <b>{{ dados.categoria }}</b></small>
  </a>
</div>
{% endfor %} {% endblock %}
