{% extends 'base.html' %}{% block layouts %}{% load static %}

<div class="card mb-4 w-100%">
  <!--<a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>-->
  <div class="card-body">
    <h3 class="card-title">Tentando construir um pedaço de Solução bugs de Angola</h3>
    <p class="card-text">
      Tudo está com um ruído tão grande, é tanta falhas e oferta em aplicações de serviços em Angola, predadores prontos para atacar – e a gente ali, no meio dessa confusão toda,
      tentando extrair algum valor para divulgar falhas, soluções e boas praticas de segurança.
    </p>
  </div>
</div>

<div class="card mb-4 w-100%">
  <!--<a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>-->
  <div class="card-body">
    <h3 class="card-title">Tentando construir um pedaço de Solução nos bugs de Angola</h3>
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
      voluptatibus possimus, veniam magni quis!
    </p>
  </div>
</div>

{% endblock %}
