{% extends 'baseHome.html' %}{% block corpo %}{% load static %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% if messages %}
    <script language="JavaScript">
      $(function () {
        $("#exampleModalCenter").modal("show");
      });
    </script>

    {% endif %}

    <div class="card" style="min-height: 484px">
      <div class="card-header">
        <h3>Adicionar Nova Categoria</h3>
      </div>
      <div class="card-body">
        <form class="forms-sample" action="{% url 'utilizador:add_categoria' %}" method="POST">
          {% csrf_token %} {% autoescape on %}
          <div class="row">
            <div class="col-sm-10">
              <div class="form-group">
                <label for="" class="">Nome da Categoria:<span class="text-danger"></span></label>
                {{ form.nome }}{{ form.nome.errors }}
              </div>
            </div>
          </div>

          <div class="form-group">
            <div id="visitfromworld" style="width: 100%; height: 20px"></div>
          </div>
          <button type="submit" class="btn btn-primary mr-2" style="width: 40%; height: 38px">Salvar</button>
          {% endautoescape %}
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header widget bg-success">
        <h5 class="modal-title" id="exampleModalCenterLabel">Notificação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body"><strong>Categoria criado com sucesso</strong> <br /></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
