{% extends 'baseHome.html' %}{% block corpo %}{% load static %}

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header d-block">
        <h3>Lista de utilizador do sistema</h3>
      </div>
      <div class="card-body">
        <div class="dt-responsive">
          <table id="multi-colum-dt" class="table table-striped table-bordered nowrap">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Username</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Categoria</th>
                <th>Opção</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
              </tr>

              <tr>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>33</td>
                <td>2008/11/28</td>
                <td>$162,700</td>
              </tr>

              <tr>
                <td>Sonya Frost</td>
                <td>Software Engineer</td>
                <td>Edinburgh</td>
                <td>23</td>
                <td>2008/12/13</td>
                <td>$103,600</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
