{% extends 'baseHome.html' %}{% block corpo %}{% load static %}

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header d-block">
        <h3>Lista de utilizador do sistema</h3>
      </div>
      <div class="card-body">
        <div class="dt-responsive">
          <table id="multi-colum-dt" class="table table-striped table-bordered nowrap">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Username</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Categoria</th>
                <th>Estado</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              {% for dados in lista %}
              <tr>
                <td>{{ dados.user.first_name }}</td>
                <td>{{ dados.user.username }}</td>
                <td>{{ dados.user.email }}</td>
                <td>{{ dados.telefone }}</td>
                <td>Nome da categoria</td>
                <td>Estado da Conta</td>
                <td>
                  <ul class="nav nav-pills">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                        >Acção <i class="ik ik-chevron-down"></i
                      ></a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="">Editar</a>
                        <a class="dropdown-item" href="">Desativar</a>
                        <a class="dropdown-item" href="">Ativar Conta</a>
                        <a class="dropdown-item" href="">Resetar Password</a>
                        <a class="dropdown-item" href="">Eliminar Conta</a>

                        <div class="dropdown-divider"></div>
                      </div>
                    </li>
                  </ul>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
