{% extends 'base.html' %}{% block layouts %}{% load static %}

<style>
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }
  .h-custom {
    height: calc(100% - 73px);
  }
  @media (max-width: 450px) {
    .h-custom {
      height: 100%;
    }
  }
</style>
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <!-- <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image" />
      </div>-->
      <div class="col-md-8 col-lg-8 col-xl-6 offset-xl-1">
        <form action="{% url 'index:loginUser' %}" method="POST">
          {% csrf_token %} {% autoescape on %}
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            {% if messages %} {% for message in messages %}
            <p class="lead fw-normal mb-0 me-3 text-danger">{{ message }}</p>
            {% endfor %} {% endif %}
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0"><b> Login </b></p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Username</label>
            {{ form.username }}{{ form.username.errors }}
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Password</label>
            {{ form.password }}{{ form.password.errors }}
          </div>

          <!--<div class="d-flex justify-content-between align-items-center">
             Checkbox 
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3"> Remember me </label>
            </div>
            <a href="#!" class="text-body">Forgot password?</a>
          </div>-->
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="col-sm-12 col-md-12 col-lg-12 btn btn-success btn-lg btn-block">Sign in</button>
          </div>
          {% endautoescape %}
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
